@model IEnumerable<RetailBankingClient.Models.Transaction.Financial_Transaction>

@{
    ViewData["Title"] = "ViewTransactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="
https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" rel="stylesheet">


<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.cs" rel="stylesheet">
<h3>View Transactions</h3>


<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transaction_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_Transaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount_of_Transaction)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Trans_Status_Code)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Transaction_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_of_Transaction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount_of_Transaction)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Ref_Transaction_Status.Trans_Status_Description)
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Go To Homepage", "Homepage", "Authentication")